<nav>
  <div class="nav-wrapper">

    <ul class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="personal">PERSONAL</a></li>
      <li><a href="business">BUSINESS</a></li>
    </ul>

  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
      <li><a href="personal">PERSONAL</a></li>
      <li><a href="business">BUSINESS</a></li>
</ul>