<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ACT Bank</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" action="/acctselection">
                <button type="submit" class="btn btn-danger" id="switchacct">Switch Account</button>
            </form>
        </div>

    </div>
</nav>

<div class="start">
    <h1>Checking Account
        <!--Account Balance -->
    </h1>
</div>

<div>
    {{#each transaction}}
    <p>
    <article class="transaction">
        <div class="meta">
            <span>{{this.dataValues.date}}</span> <span> {{this.dataValues.description}}</span>
            <span>${{this.dataValues.amount}}</span>
        </div>
    </article>
    </p>
    {{/each}}
</div>



<script src="/javascript/transaction.js"></script>
<script src="/javascript/logout.js"></script>