<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ACT Bank</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form login-form navbar-right">
                <div class="form-group login-form">
                    <input type="text" placeholder="User Name" id="user-login">
                </div>
                <div class="form-group login-form">
                    <input type="password" placeholder="Password" id="password-login">
                </div>
                <button type="submit" class="btn btn-danger">Sign in</button>
            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome!</h1>
        <p>Here at ACT Bank we care for each and everyone of our members like they are family.</p>
    </div>
    <img src="./images/family.jpg" alt="Blended Family">
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Car Loans</h2>
            <p>Whether you need new or used or are looking to refinance, check out our low rates, flexible terms, and
                easy online application.</p>
        </div>
        <div class="col-md-4">
            <h2>Home Loans</h2>
            <p>Currently renting, looking for your first home, or thinking about a larger home? A ACT mortgage loan is
                the answer.</p>
        </div>
        <div class="col-md-4">
            <h2>Motorcycle Loans</h2>
            <p>ACT Bank offers competitive rates and flexible terms for new and used boats, recreational vehicles and
                motorcycle financing.</p>
        </div>
    </div>

    <script src="/javascript/login.js"></script>
    <script src="" type="text/javascript"></script>