{{>navbar}}

<div class="container">
  <div class="row">
    <div class="col left">
      <h2>ONLINE BANKING</h2>

      <form  class="login">
        <div class="input-field col">
          <label for="user-name">USER NAME</label><br>
          <input id="user-name-input" type="text" class="validate" onkeyup="checkText()" name="username" placeholder="Enter Your User Name Here" />
        </div>

        <div class="input-field col">
          <label for="first-name">First Name</label><br>
          <input id="first-name-input" type="text" class="validate" onkeyup="checkText()" name="firstname" placeholder="Enter Your First Name Here" />
        </div>

        <div class="input-field col">
          <label for="last-name">Last Name</label><br>
          <input id="last-name-input" type="text" class="validate" onkeyup="checkText()" name="lastname" placeholder="Enter Your Last Name Here" />
        </div>

        <div class="input-field col">
          <label for="password">Password</label><br>
          <input id="password-input" type="number/text" class="validate" onkeyup="checkText()" name="password" placeholder="Enter Zip Code Here" pattern="[0-9]*" />
        </div>


      <button type="submit" disabled id="login-btn" class="btn col">Login</button>
      </form>

    </div>
  </div>
</div>

{{>footer}}

<script src="" type="text/javascript"></script>