.navbar-dark .navbar-brand {
    color: white;
}

.centervert {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.form-group {
    color: black;
}

.gotobtnch {
    margin-left: 540px;
}

.gotobtnsv {
    margin-left: 555px;
}

label {
    font-size: 22px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
}
  
.instruct {
    font-size: 14px;
    font-weight: 600;
}

.acctselect {
    text-align: center;
    text-decoration: underline;
}

.acctbox {
    background-color: lightgray;
    border-radius: 4px;
    padding: 15px;
    margin: 5px;
}

.start {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
}

.meta {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    padding-left: 2%;
    justify-content: space-between;
    padding-right: 2%;
    border: 1px solid;
    background: lightgray;
}
